* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#corpo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, rgba(10, 142, 25, 1) 50%, rgba(5, 3, 3, 1) 50%);
}

#loginP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 60%;
    width: 100%;
    height: 38rem;
    margin-top: 2rem;
    border-radius: 20px;
    padding: 4px;
    border: solid #ffffff 2px;
}

#cabeca {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    width: 100%;
    gap: 50px;
    border-radius: 40px 40px 0 0;
    justify-content: space-around;
}

#usuario {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    text-align: center;

}

h1 {
    margin-top: -0.3rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

#cantores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 40%;
    padding: 10px;
    margin: 2px;
    height: 10rem;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

#cantores::-webkit-scrollbar {
    width: 12px;
    background-color: #33ca40;
}

#cantores::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(1, 1, 1, 0.3);
    background-color: #545252;
}

p {
    font-size: 18px;
    margin-top: -0.3rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardcantores {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 5px;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    transition: 1s;
}

.card:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}





/* ==================== */
.card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    transition: 1s;
}

.card1:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* ==================== */
.card2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    transition: 1s;
}

.card2:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* ==================== */
.card4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    transition: 1s;
}

.card4:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* ==================== */
.card3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    transition: 1s;
}

.card3:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}
/* ==================== */
.card5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    transition: 1s;
}

.card5:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}




/* ==================== */
.card6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    transition: 1s;
}

.card6:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* ==================== */
.card7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    transition: 1s;
}

.card7:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* ==================== */
.card8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #fff;
    color: #000000;
    justify-content: center;
    transition: 1s;
}

.card8:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}


#listaMusicas2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 20rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

}

#listaMusicas2::-webkit-scrollbar {
    width: 12px;
    background-color: #33ca40;
}

#listaMusicas2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(1, 1, 1, 0.3);
    background-color: #545252;
}

/* ----------- */
#cardMusica6 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
}

#cardMusica6:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* --------------- */
/* ----------- */
#cardMusica7 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
}

#cardMusica7:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* ----------- */
#cardMusica8 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
}

#cardMusica8:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* ----------- */
#cardMusica9 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
}

#cardMusica9:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* ----------- */
#cardMusica10 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
}

#cardMusica10:hover {
    background: linear-gradient(117deg, rgba(69, 224, 30, 0.9080882352941176) 30%, rgba(14, 23, 16, 0.8184523809523809) 76%);
    color: #fff;
}

/* ----------- */


.ftautor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.infor {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    gap: 5px;
    font-weight: 800;
    margin-top: -2rem;
    width: 60%;
}

.coracao {
    color: #fff;
    transition: 1s;
    cursor: pointer;
    font-size: 30px;
    width: 20%;
}

.coracao:hover {
    color: #e50000;
}

.bts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 0.6rem;
    justify-content: center;
    width: 100%;
}

#bts1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#bts1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 10%;
    outline: none;
    border: none;
    background: rgb(8, 181, 8);
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

@media (max-width:870px) {
    #loginP {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    #cabeca {
        /* margin-top: -24rem; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #cantores {
        overflow-x: scroll;
    }

    #cantores::-webkit-scrollbar {
        width: 10px;
        height: 0.2rem;
        background-color: #33ca40;
    }

    #cantores::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(1, 1, 1, 0.3);
        background-color: #545252;
    }

}

@media (max-width:700px) {
    #loginP {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin-top: 0.5rem;
    }

    #cabeca {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #usuario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 15px;
        margin-top: -1rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #cantores {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        height: 7rem;
        overflow-x: scroll;
        margin-top: -2.5rem;
    }

    #cantores::-webkit-scrollbar {
        width: 4px;
        height: 0.6rem;
        background-color: #33ca40;
    }

    #cantores::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(1, 1, 1, 0.3);
        background-color: #545252;
    }

    #listaMusicas2 {
        overflow-y: scroll;
    }

    #listaMusicas2::-webkit-scrollbar {
        width: 9px;
        background-color: #33ca40;
    }

    #listaMusicas2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(1, 1, 1, 0.3);
        background-color: #545252;
    }

}

@media (max-width:561px) {
    #loginP {
        width: 100%;
    }
}